@charset "UTF-8";

/* 回答はここに書いてね */
.q4 {
  margin: auto;
  background-color: #ecf1f2;
  padding: 20px;
}

.q4_nav {
  display: table;
  vertical-align:middle;
  text-align:center;
  box-sizing: border-box;
  width: 100%;
}

.main {
  display: table-cell;
  padding: 20px;
}

.q4_nav:first-child {
  margin-bottom: 20px;
}

.cluster_right {
  width: 100px;
  background-color: #fbc8b8;
}
.cluster_center {
  display: table-cell;
  background-color: #e0abd9;
}
.cluster_left {
  width: 100px;
  background-color: #b6d8ed;
}

.child_right {
  display: table-cell;
  background-color: #e5d32e;
}

.child_center {
  display: table-cell;
  background-color: #ec8f9a;
}

.child_left {
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
