@charset "UTF-8";

/* 回答はここに書いてね */
.q4 {
  margin: auto;
  background-color: #ecf1f2;
}

.q4_nav1, .q4_nav2 {
  display: table;
  vertical-align:middle;
  text-align:center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.q4_nav1 div, .q4_nav2 div {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
}


.nav1_1 {
  width: 100px;
  background-color: #fbc8b8;
}
.nav1_2 {
  display: table-cell;
  background-color: #e0abd9;
}
.nav1_3 {
  width: 100px;
  background-color: #b6d8ed;
}

.nav2_4 {
  display: table-cell;
  background-color: #e5d32e;
}

.nav2_5 {
  display: table-cell;
  background-color: #ec8f9a;
}

.nav2_6 {
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
